<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>后台</title>

    <!-- Bootstrap -->
    <link href="/resource/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/resource/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/resource/css/admin.css"/>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container">
  <div class="row">
      <div class="col-md-6">
          <form>
              <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" name="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
              </div>
              <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="text" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
              </div>

              <div class="checkbox">
                  <label>
                      <input name="ck" type="checkbox" value="1"> 记住密码
                  </label>
              </div>
              <button type="submit" class="btn btn-default">提交</button>
          </form>
      </div>
      <div class="col-md-6">
          <div class="posthtml"></div>
      </div>
  </div>

</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/resource/js/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/resource/js/bootstrap.min.js"></script>
<script>
  $(function(){
      $("button").on("click",function(){
          var obj={};
          var email = $("input[name='email']").val();
          var password = $('input[name="password"]').val();
          var ck = $('input[name="ck"]').val();
          obj.emal=email;
          obj.password = password;
          obj.ck = ck;
          $.ajax({
              url: "/home/index/jieshou",
              data:obj,
              type:"POST",
              dataType: "json",
              success: function(d , text){
                  console.log(this.data);
                 var str="emal=admin%40afdasffdfafafdsaffdsaffdsa&password=fdsafdsafaffdsafdsa&ck=1";
                  var nstr=str.split("&");
                  var arr=[];
                  for(var i=0;i<nstr.length;i++){
                      var n=nstr[i].split("=");
                      arr[i]=n[1];
                  }

                  var html='<table class="table">'
                      html+='<tr><td>这个是服务器返回</td></tr>'
                      html+='<tr><td>姓名:'+ d.emal+'</td></tr>'
                      html+='<tr><td>密码:'+ d.pass+'</td></tr>'
                      html+='<tr><td>状态:'+ d.ck+'</td></tr>'
                      html+='<tr><td>我这次提交的方式:'+ this.type+'</td></tr>'
                  html+='<tr><td>这个是提交前确认的信息</td></tr>'
                  html+='<tr><td>姓名:'+ arr[0]+'</td></tr>'
                  html+='<tr><td>密码:'+ arr[1]+'</td></tr>'
                  html+='<tr><td>状态:'+ arr[2]+'</td></tr>'
                  html+='<tr><td>我这次提交的方式:'+ this.type+'</td></tr>'
                      html+='</table>'
               $(".posthtml").html(html);
              }});
          return false;
      })


  });

</script>
</body>
</html>