body{font-size: 14px;}
#particles {
    background-color: #1abc9c;
    /*background-image: url(../img/particles.jpg);*/
    /*background-repeat: no-repeat;*/
    /*background-position: center bottom;*/
    width: 100%;
    height: 510px;
    overflow: hidden;
}
#blog {
    background-color: #1abc9c;
    /*background-image: url(../img/particles.jpg);*/
    /*background-repeat: no-repeat;*/
    /*background-position: center bottom;*/
    width: 100%;
    height: 410px;
    overflow: hidden;
}
#blogcat {
    background-color: #1abc9c;
    /*background-image: url(../img/particles.jpg);*/
    /*background-repeat: no-repeat;*/
    /*background-position: center bottom;*/
    width: 100%;
    height: 210px;
    overflow: hidden;
}
.navbar-wrapper {
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 20;
}
.intro {
    position: absolute;
    left: 0;
    top: 100px;
    padding: 0 20px;
    width: 100%;
    text-align: center;
}
.slide{box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);}
.blog-header{
    font-family: "Microsoft YaHei";
    position: absolute;
    left: 0;
    top: 80px;
    padding: 0 20px;
    width: 100%;
    color: #fff;
}
.blog-header h1{
    font-size: 40px;
    margin-top: 0px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.blog-header p{
    font-size: 18px;

}
.intro h1 {
    text-transform: uppercase;
    font-size: 85px;
    font-weight: 700;
    letter-spacing: 0.015em;
}
.intro h1::after {
    content: '';
    width: 80px;
    display: block;
    background: #fff;
    height: 10px;
    margin: 30px auto;
    line-height: 1.1;
}
.intro p {
    margin: 0 0 30px 0;
    font-size: 20px;
    color: #fff;
    text-Shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
@media only screen and (max-width: 1000px) {
    .intro h1 {
        font-size: 70px;
    }
}

@media only screen and (max-width: 800px) {
    .intro  h1 {
        font-size: 48px;
    }
    .intro  h1::after {
        height: 8px;
    }
}

@media only screen and (max-width: 568px) {
    .intro {
        padding: 0 10px;
    }
    .intro  h1 {
        font-size: 30px;
    }
    .intro  h1::after {
        height: 6px;
    }
    .intro  p {
        font-size: 18px;
    }
    .intro  .btn {
        font-size: 16px;
    }
}

@media only screen and (max-width: 320px) {
    .intro h1 {
        font-size: 28px;
    }
    .intro  h1::after {
        height: 4px;
    }
}
.slidebox{position: absolute;top:80px;left: 0; width: 100%}
.slidebox .carousel-indicators{bottom: -40px;}
/*博客*/
.blog-main article{
    border-bottom: 1px dotted #dcdcdc;
    margin-bottom: 26px;
    padding-bottom: 30px;
}

.blog-main .thumbnail{position: relative;}
.blog-main .media{
    margin-bottom: 10px;
}
.blog-main .media-body h4{
    font-family: "Microsoft YaHei";
    font-size: 18px;
    font-weight: normal;
    line-height: 26px;
}
.blog-main .media-body small{
    color: #999;
}
.blog-main article footer{background: #f7f7f9 ; margin-top: -15px; padding: 15px ;border-radius: 6px;}
.blog-main .text_c{margin-right: 15px ; color: #999; font-size: 12px;}
.blog-main .more{font-size: 12px}
/*底部*/
.cw-social {
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #fff;
    padding: 15px 0;
    text-align: center;
    margin-bottom: 20px;
}
.cw-social-buttons {
    list-style: outside none none;
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 0;
}
.cw-social-buttons li {
    color: #555;
    display: inline-block;
    line-height: 1;
}
.cw-social-buttons li .fa {
    font-size: 18px;
    margin-right: 3px;
}
.cw-social-buttons li .fa-weibo {
    font-size: 20px;
}
.cw-social-buttons li a {
    color: #555;
}
.cw-social-buttons li.social-qq:hover {
    color: #428bca;
}
.cw-social-buttons li.social-weibo a:hover {
    color: #d9534f;
}
.cw-social-buttons > li + li::before {
    color: #ccc;
    content: "|";
    padding: 0 10px;
}
.main-footer {
    background: none repeat scroll 0 0 #202020;
    color: #959595;
    padding: 35px 0 0;
}
.main-footer .widget .title {
    border-bottom: 1px solid #303030;
    color: #ffffff;
}
.main-footer .widget .tag-cloud a {
    border: 1px solid #303030;
}
.main-footer .widget .tag-cloud a:hover {
    border: 1px solid #e67e22;
}
.main-footer .widget .friend-links a {
    border: medium none;
}
.main-footer .widget .friend-links a:hover {
    border: medium none;
}
.main-footer .widget .friend-links hr {
    border-top: 1px dashed #303030;
    margin: 1em 0;
}
.main-footer .widget .recent-post .recent-single-post {
    border-bottom: 1px dashed #303030;
}
.main-footer .widget .recent-post .recent-single-post .post-title {
    color: #959595;
}
.main-footer .widget .recent-post .recent-single-post .post-title:hover {
    color: #e67e22;
}
.main-footer .widget .recent-post .recent-single-post .date {
    color: #505050;
}
.copyright {
    background: none repeat scroll 0 0 #111;
    border-top: 1px solid #303030;
    color: #555555;
    font-size: 13px;
    padding-bottom: 28px;
    padding-top: 28px;
    text-align: center;
}
.copyright span {
    margin: 0 0.5em;
}
.copyright a {
    color: #555555;
}
.widget .tag-cloud a {
    border: 1px solid #ebebeb;
    color: #959595;
    display: inline-block;
    line-height: 1.5em;
    margin: 0 7px 7px 0;
    padding: 2px 7px;
    transition: all 0.2s ease 0s;
}