<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">CMSWING</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar" aria-expanded="false" style="height: 1px;">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/admin/index">后台首页</a></li>
                <li><a href="/home/index">前台首页</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a aria-expanded="false" role="button" data-toggle="dropdown" class="dropdown-toggle" href="#"> <span class="glyphicon glyphicon-user"></span> <%=user.username%> <span class="caret"></span></a>
                    <ul role="menu" class="dropdown-menu">
                        <li><a href="#"><span aria-hidden="true" class="glyphicon glyphicon-cog"></span> 设置</a></li>
                        <li class="divider"></li>
                        <li><a href="/admin/index/logout"> <span aria-hidden="true" class="glyphicon glyphicon-off"></span> 退出登录</a></li>
                    </ul>
                </li>
                <li><a href="#"><span class="glyphicon glyphicon-question-sign"></span>  Help</a></li>
            </ul>

        </div>
    </div>
</nav>