<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>后台</title>

    <!-- Bootstrap -->
    <link href="/resource/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/resource/css/dropdowns-enhancement.css"/>
    <link rel="stylesheet" href="/resource/css/bootstrap-datetimepicker.min.css"/>
    <link rel="stylesheet" href="/resource/css/admin.css"/>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<% include ../admin/include/nav.html %> <!--顶部导航-->


<div class="container">
    <div class="row">
        <div class="col-sm-3 col-md-2">
            <% include ../admin/include/sidebar.html %> <!--左侧菜单-->

        </div>
        <div class="col-sm-9 col-md-10 main">
            <h4 class="page-header"> <span aria-hidden="true" class="glyphicon glyphicon-pencil"></span> 写文章</h4>

            <form action="/admin/article/addarticle" method="post">
                <div class="form-group">
                    <label for="title" class="sr-only">标题</label>

                    <div class="input-group">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="button">分类</button>
                            <button aria-expanded="false" data-toggle="dropdown" class="btn btn-default dropdown-toggle"
                                    type="button">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li class="dropdown-submenu"><a href="#" tabindex="-1" data-toggle="dropdown">Action</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#" tabindex="-1">Sub Action</a></li>
                                        <li class="dropdown-submenu"><a href="#" tabindex="-1" data-toggle="dropdown">Another sub action</a>
                                            <ul class="dropdown-menu">
                                                <li><a href="#" tabindex="-1">Sub Action</a></li>
                                                <li><a href="#" tabindex="-1">Another sub action</a></li>
                                                <li><a href="#" tabindex="-1">Something else here</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#" tabindex="-1">Something else here</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu"><a href="#" tabindex="-1" data-toggle="dropdown">Another action</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#" tabindex="-1">Sub Action</a></li>
                                        <li><a href="#" tabindex="-1">Another sub action</a></li>
                                        <li><a href="#" tabindex="-1">Something else here</a></li>
                                    </ul>
                                </li>
                                <li><a href="#" tabindex="-1">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#" tabindex="-1">Separated link</a></li>
                            </ul>
                        </div>
                        <input type="text" class="form-control" id="title" placeholder="输入标题" name="title">

                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                        <label for="dtp_input1" >标签</label>
                        <div class="btn-group input-group">
                            <button class="btn " data-placeholder="Please select" data-label-placement>Please select </button>
                            <button data-toggle="dropdown" class="btn btn-default dropdown-toggle"><span class="caret"></span> </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <input type="checkbox" id="ex5_1" name="ex5" value="1">
                                    <label for="ex5_1">Option1</label>
                                </li>
                                <li>
                                    <input type="checkbox" id="ex5_2" name="ex5" value="2">
                                    <label for="ex5_2">Option2</label>
                                </li>
                                <li>
                                    <input type="checkbox" id="ex5_3" name="ex5" value="3">
                                    <label for="ex5_3">Option3</label>
                                </li>
                                <li>
                                    <input type="checkbox" id="ex5_4" name="ex5" value="4">
                                    <label for="ex5_4">Option4</label>
                                </li>
                                <li>
                                    <input type="checkbox" id="ex5_5" name="ex5" value="5">
                                    <label for="ex5_5">Option5</label>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                    <label for="dtp_input1" >发布时间</label>
                    <div class="input-group date form_datetime" data-date="1979-09-16T05:25:07Z" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">
                        <input class="form-control" size="16" type="text" value="" readonly>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                    <input type="hidden" id="dtp_input1" value="" />
                    </div>
                </div>
                <div class="form-group">
                    <label>简介</label>
                    <script id="excerpt" name="excerpt" type="text/plain"></script>
                </div>
                <div class="form-group">
                    <label>内容</label>
                    <script id="content" name="content" type="text/plain" style="height:500px;"></script>
                </div>

                <button type="submit" class="btn btn-default">Submit</button>
            </form>


        </div>
    </div>
</div>
<% include ../admin/include/footer.html %>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/resource/js/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/resource/js/bootstrap.min.js"></script>
<script SRC="/resource/js/bootstrap-datetimepicker.min.js"></script>
<script src="/resource/js/dropdowns-enhancement.min.js"></script>
<script src="/resource/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
<script type="text/javascript" charset="utf-8" src="/resource/js/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="/resource/js/ueditor/ueditor.all.min.js"></script>
<!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
<!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
<script type="text/javascript" charset="utf-8" src="/resource/js/ueditor/lang/zh-cn/zh-cn.js"></script>
<script>
    //实例化编辑器
    //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
    var ue = UE.getEditor('content');
    UE.getEditor('excerpt', {
        //这里可以选择自己需要的工具按钮名称,此处仅选择如下五个
        toolbars: [['FullScreen', 'Source', 'Undo', 'Redo', 'Bold', 'test']],
        //focus时自动清空初始化时的内容
        autoClearinitialContent: true,
        //关闭字数统计
        wordCount: false,
        //关闭elementPath
        elementPathEnabled: false,
        //默认的编辑区域高度
        initialFrameHeight: 100,
    });
    $('.form_datetime').datetimepicker({
        language:  'zh-CN',
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        forceParse: 0,
        showMeridian: 1
    });
</script>
</body>
</html>